alpha=0.5
addSwitchProbability=1.0
removeSwitchProbability=1.0
addHostProbability=1.0
removeHostProbability=1.0
populationSize=10
maxHostGenerationCount=10
maxSwitchGenerationCount=5
testOnTestPath=/home/parallels/TestON/tests/SAMP/SAMPstartTemplate_1node
networkTopologyPath=/home/parallels/OnosSystemTest/TestON/tests/SAMP/SAMPstartTemplate_1node/Dependency/newFuncTopo.py
hostIpsFilePath=/home/parallels/code/sdn.genetic.algorithm/src/hostIps